Variáveis

# Variáveis

In [ ]:
idade = 30
print(idade)

30

Tipos Numéricos

In [ ]:
preco_da_banana = 1000
typo = type(preco_da_banana)
print(preco_da_banana)
print(typo)

juros = 0.05
tipo_juros = type(juros)
print(juros)
print(tipo_juros)

1000
<class 'int'>
0.05
<class 'float'>



```
# Isto está formatado como código
```

Tipo textual

# Números

Tipos de variáveis numericas<br>
inteiro (1,2,3)<br>
float (1.4, 1.47)<br>
complex (1+5j)<br>

In [20]:
inteiro = 10
floa_num = 4.5
complexo = (1+5j)
print(type(inteiro), type(floa_num), type(complexo))

<class 'int'> <class 'float'> <class 'complex'>

**Operações**

+ (soma +)
- (subtração -)
/ (divisão /)
* (multiplicação * )

Operações mais avançadas

+ (divisão inteira //)
+ (potência ou exponenciação **)
+ (resto da divisão %)

**Exemplo**: Carrinho de compra

In [25]:
quant_item_carr_compras = 0
quant_item_carr_compras = quant_item_carr_compras + 1
print('Quantidade de Produto no carrinho: {}'.format(quant_item_carr_compras))

quant_item_carr_compras = quant_item_carr_compras + 1
print('Quant. Produto no Carrinho: {}'.format(quant_item_carr_compras))

Quantidade de Produto no carrinho: 1
Quant. Produto no Carrinho: 2

Deixando **Código mais limpo**

In [31]:
print('Aqui adicionei 3 produtos no carrinho usando a mesma variável')
quant_carr_compra = 0
quant_carr_compra += 1
print('Tenho {} produto no carrinho'.format(quant_carr_compra))

quant_carr_compra += 1
print('Agora tenho {} produto no carrinho'.format(quant_carr_compra))

quant_carr_compra += 1
print('Agora tenho {} produto no carrinho'.format(quant_carr_compra))

Aqui adicionei 3 produtos no carrinho usando a mesma variável
Tenho 1 produto no carrinho
Agora tenho 2 produto no carrinho
Agora tenho 3 produto no carrinho

Exemplo **Float ou Decimais**

In [33]:
preco_da_carne = 23
quantidade = 0.582
total_pagar = preco_da_carne * quantidade
print('R$ {}'.format(total_pagar))

R$ 13.386

**Converter** tipo de dados de uma variável

In [35]:
var = int(10)
print(var)
var = float(10)
print(var)
var = complex(10)
print(var)

10
10.0
(10+0j)

**Revisando**<br>
![image.png]()

Ticket Médio dia 19

In [36]:
val_19 = 153.98
quant_v19 = 3
dia19 = (val_19 / quant_v19)
print(dia19)

51.32666666666666

Ticket Médio dia 20

In [37]:
val_20 = 337.01
quant_v20 = 7
dia20 = (val_20 / quant_v20)
print(dia20)

48.144285714285715

Ticket Médio dia 23

In [39]:
val_23 = 395.53
quant_v23 = 5
dia23 = (val_23 / quant_v23)
print(dia23)

79.106

Calculando o ticket médio por período

In [49]:
val_19 = 153.98
quant_v19 = 3
dia19 = (val_19 / quant_v19)

val_20 = 337.01
quant_v20 = 7
dia20 = (val_20 / quant_v20)

val_23 = 395.53
quant_v23 = 5
dia23 = (val_23 / quant_v23)

tkt = (dia19 + dia20 + dia23) / 3
print(tkt)

59.52565079365079


# Strings